.b-nav {
    &__container {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__item {
        list-style: none;
    }

    &__item-link {
        position: relative;
        display: block;
        margin: 0 10px;
        padding: 5px 10px;
        color: $black;
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        overflow: hidden;
        font-weight: 400;
        @include media-breakpoint-down(xs) {
            font-size: 16px;
            padding: 5px 6px;
        }
    }

    &__item-link::before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: -100%;
        width: 100%;
        height: 4px;
        background: $mainColor;
        transition: 0.5s;
    }

    &__item-link:hover {
        color: #fff;
    }

    &__item-link:hover::before {
        animation: animate .3s linear forwards; 
    }
    
    @keyframes animate {
        0% {
            top: calc(50% - 2px);
            left: -100%;
            height: 4px;
            z-index: 1;
        }
        50% {
            top: calc(50% - 2px);
            left: 0;
            height: 4px;
            z-index: 1;
        }
            100% {
            top: 0;
            left: 0;
            height: 100%;
            z-index: -1;
        }
    }

    &__fix {
        z-index: 90;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: #f8fafc;
        box-shadow: 0px 0px 10px 5px rgba(50,50,50,0.3);
    }
}
