.b-btn-link {
    display: inline-block;
    cursor: pointer;
    border-radius: $base;
    // border: 1px solid #bbbbbb;
    line-height: $base*5;
    padding: $base+2 $base*3;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #95d94e;
    background-image: linear-gradient(to bottom, lighten($mainColor, 15%), $mainColor);
    background-repeat: repeat-x;
    outline: none;

    &:hover {
        background-image: linear-gradient(to bottom, $mainColor, darken($mainColor, 2%));
    }
}